<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>ClassCharts Notifcation Service</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"><!-- loads the css file from /static using jinja -->
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>
        <div id="text" style="font-size: 18pt;">ClassCharts Notification Service</div>
        <div>This is a service that allows you to receive notifications when a new homework is set.<br>
        Currently, this is done through email.</div>
    </body>
</html>