<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Confirm deletion of account</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"><!-- loads the css file from /static using jinja -->
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>
        <div id="text" style="font-size: 20pt;">Success!</div>
        <div>Successfully {{ action }} your account</div>
    </body>
</html>